<nav>
  <ul>
    <% Category.roots.each do |category| %>
      <li><%= link_to category.name, category %></li>
        <%= render 'shared/submenu_categories', categories: category.root.descendants.arrange %>
    <% end %>
  </ul>
</nav>